.main {}

.nav {
  background-color: white;
  color: black;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  height: 60px;
  align-items: center;
}

.nav .links {
  display: flex;
  flex-direction: row;
  gap: 3rem;
}

.nav .links .siteTitle {
  font-size: 18px;
  font-weight: 600;
  color: #144789;
  cursor: pointer;
}

.nav .links .itemLink {
  cursor: pointer;
}

.nav .buttons {
  display: flex;
  flex-direction: row;
  gap: 1rem;
  align-items: center;
}

.nav .btnUpload {
  border-radius: 25px;
  border: none;
  background-color: #fcdf69;
  padding: 2px 12px 2px 12px;
  height: 35px;
  cursor: pointer;
}

.nav .btnContact {
  border-radius: 25px;
  border: none;
  background-color: #f99e76;
  padding: 2px 12px 2px 12px;
  height: 35px;
  cursor: pointer;
}

.search {
  background-color: #084ea3;
  color: white;
  display: flex;
  justify-content: space-evenly;
  padding: 80px 0 80px 0;
}

.search .recruiterImg {
  border-radius: 25px;
  object-fit: cover;
}

.search .description {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.search .description .subtitle {
  font-size: 14px;
}

.search .description .maintitle {
  font-size: 48px;
  font-weight: 600;
  margin: 0 0 15px 0;
}

.search .description .searchJobs {
  display: flex;
  flex-direction: row;
  height: 50px;
}

.search .description input {
  width: 100%;
  border: none;
  border-radius: 25px 0 0 25px;
  padding-left: 15px;
}

.search .description button {
  width: 150px;
  border: none;
  border-radius: 0 25px 25px 0;
  background-color: #fcdf69;
  cursor: pointer;
}

.companies {
  display: flex;
  flex-direction: column;
}

.companies .companiesText {
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: 40px 0 0 0;
  font-weight: 200;
  font-size: 12px;
}

.companies .companyLogos {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  padding: 30px 0 60px 0;
}

.latestJobs {
  display: flex;
  flex-direction: column;
  background-color: #d7e7fa;
  padding: 40px 80px 60px 80px;
}

.latestJobs .sections {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.latestJobs .jobsText {
  display: flex;
  flex-direction: row;
  justify-content: center;
  font-size: 40px;
  font-weight: 600;
}

.latestJobs .navigation {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 40px 0 0 0;
}

.latestJobs .moreLink {
  color: #203362;
  cursor: pointer;
}

.footer {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  background-color: #084ea3;
  color: white;
  padding: 80px;
}

.footer .footerSection {
  font-size: 12px;
}

.footer .footerSection .subtitle {
  font-size: 24px;
  font-weight: 600;
}

.footer .footerSection .sitetitle {
  font-size: 16px;
  font-weight: 600;
}

/* Enable hover only on non-touch devices */
@media (hover: hover) and (pointer: fine) {
  .card:hover {
    background: rgba(var(--card-rgb), 0.1);
    border: 1px solid rgba(var(--card-border-rgb), 0.15);
  }

  .card:hover span {
    transform: translateX(4px);
  }
}

/* Mobile */
@media (max-width: 700px) {
  .content {}
}

/* Tablet and Smaller Desktop */
@media (min-width: 701px) and (max-width: 1120px) {
  .grid {}
}